<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    Potato
    <div id="log"></div>
    <script>
      const ws = new WebSocket( 'wss://' + window.location.hostname );
      ws.binaryType = 'arraybuffer';

      ws.addEventListener('open', function () {
        log.innerHTML += 'connected<br/>';
        ws.send( Date.now() );
      });

      ws.addEventListener('close', function () {
        log.innerHTML += 'disconnected<br/>';
      });

      ws.addEventListener('message', function ( data ) {

        console.log( data );
        log.innerHTML += data;

        setTimeout( function () {

          ws.send( Date.now() );

        }, 500);

      } );
      
      document.addEventListener( 'mousemove', function ( event ) {

        var data = new Int8Array( [ event.pageX, event.pageY ] );
        ws.send( data );

      } ); 
      
    </script>
  </body>
</html>
