<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    Potato
    <div id="log"></div>
    <script>
      
      const canvas = document.createElement( 'canvas' );
      canvas.width = window.innerWidth * window.devicePixelRatio;
      canvas.height = window.innerHeight * window.devicePixelRatio;
      canvas.style.width = window.innerWidth + 'px';
      canvas.style.height = window.innerHeight + 'px';
      document.body.appendChild( canvas );
      
      const context = canvas.getContext( '2d' );
      
      // WebSockets
      
      const ws = new WebSocket( 'wss://' + window.location.hostname );
      ws.binaryType = 'arraybuffer';

      ws.addEventListener('open', function () {
        log.innerHTML += 'connected<br/>';
        ws.send( Date.now() );
      });

      ws.addEventListener('close', function () {
        log.innerHTML += 'disconnected<br/>';
      });

      ws.addEventListener('message', function ( event ) {

        var array = new Uint8Array( event.data );
        context.lineTo( array[ 0 ], array[ 1 ] );
        context.stroke();

      } );
      
      const input = new Int8Array( 2 );
      
      document.addEventListener( 'mousemove', function ( event ) {

        input[ 0 ] = parseInt( event.pageX * window.devicePixelRatio );
        input[ 1 ] = parseInt( event.pageY * window.devicePixelRatio );

        ws.send( input.buffer );

      } ); 
      
    </script>
  </body>
</html>
